/* RESET */
@page {
  margin: 0;
  size: auto;
}

* {
  color-adjust: exact;
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 150%;
}

body {
  background: white;
  color: black;
}

h1 {
  font-size: 24pt;
  line-height: 40pt;
}

h2 {
  font-size: 20pt;
  line-height: 20pt;
  margin-top: 20pt;
}

p, li {
  font-size: 16pt;
  line-height: 20pt;
}

p {
  margin-top: 20pt;
}

ul {
  margin-top: 20pt;
  list-style: square inside;
}

/* INTRO */
.intro {
  display: none;
}

/* HELP */
.help {
  display: none;
}

/* WORLD */
.world {
  display: none;
}

/* PRINT */
.print {
  display: block;
}

.page {
  page-break-after: always;
  margin: 20pt;
}

/* RULEBOOK */
.rulebook {
  font-size: 12pt;
  line-height: 12pt;
}

/* BOARD */
$tile-size: 4.8rem;
$border-size: .1rem;

.board {
  display: inline-grid;
  grid-template-columns: repeat(6, $tile-size);
  border-top: $border-size solid black;
  border-left: $border-size solid black;
}

.board > div {
  width: $tile-size;
  height: $tile-size;
  border-right: $border-size solid black;
  border-bottom: $border-size solid black;
}

/* TILES */
.tiles {
  display: inline-grid;
  grid-template-columns: repeat(6, $tile-size);
  grid-gap: ($border-size * 2);
}

.tiles > div {
  width: $tile-size;
  height: $tile-size;
  border: $border-size solid black;
}

/* METEOR */
.meteor > div {
  border-color: black;
}

/* POD */
.pod.north > div:nth-child(1):after,
.pod.north > div:nth-child(2):after,
.pod.north > div:nth-child(3):after {
  background: black;
}

.pod.north > div:nth-child(4),
.pod.north > div:nth-child(5),
.pod.north > div:nth-child(6) {
  background: black;
  border-color: white;
}

.pod.north > div:nth-child(7):after,
.pod.north > div:nth-child(8):after,
.pod.north > div:nth-child(9):after {
  border-bottom-color: black;
}

/* CREW */
.crew.north > div:nth-child(1):after,
.crew.north > div:nth-child(2):after,
.crew.north > div:nth-child(3):after {
  background: black;
}

.crew.north > div:nth-child(4),
.crew.north > div:nth-child(5),
.crew.north > div:nth-child(6) {
  background: black;
}

.crew.north > div:nth-child(7):after,
.crew.north > div:nth-child(8):after,
.crew.north > div:nth-child(9):after {
  background: black;
}

/* HALL */
.hall > div:nth-child(4),
.hall > div:nth-child(5),
.hall > div:nth-child(6) {
  background: black;
}

/* CORNER */
.corner > div:nth-child(4),
.corner > div:nth-child(5),
.corner > div:nth-child(8) {
  background: black;
}

/* TEE */
.tee > div:nth-child(4),
.tee > div:nth-child(5),
.tee > div:nth-child(6),
.tee > div:nth-child(8) {
  background: black;
}

/* JUNCTION */
.junction > div:nth-child(2),
.junction > div:nth-child(4),
.junction > div:nth-child(5),
.junction > div:nth-child(6),
.junction > div:nth-child(8) {
  background: black;
}
