/* RESET */
$font-size: 1.6rem;
$white: rgba(255,255,255,.9);
$gray: rgba(255,255,255,.15);
$tile-size: 4.8rem;

* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}

body {
  font-size: $font-size;
  background: black;
  color: white;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* WORLD */
.world {
  position: relative;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  margin: 0 auto;
  overflow: hidden;
}

/* GAME */
.game {
  display: grid;
  justify-items: center;
}

/* INTRO */
.intro {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 32rem;
}

.quote {
  background: rgba(255,255,255,.2);
  padding: ($font-size / 2);
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 5px;
}

.intro > .quote {
  grid-column: 1 / 3;
  margin: ($font-size / 2) ($font-size / 2) 0 ($font-size / 2);
}

.cite {
  margin-top: 1.6rem;
}

.button {
  position: relative;
  font-variant: small-caps;
  padding: ($font-size / 2) $font-size;
  background: rgba(255,255,255,.2);
  border: 1px solid rgba(255,255,255,.4);
  margin-top: $font-size;
  border-radius: 5px;
}

/* HELP */
.help {
  position: absolute;
  top: ($font-size / 2);
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.rule {
  display: grid;
  grid-template-columns: 1fr ($tile-size * 2);
}

.rule + .rule {
  margin-top: ($font-size * 2);
}

.rule > .quote {
  margin-right: $font-size;
}

.example {
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.example.grid {
  grid-template-columns: repeat(2, $tile-size);
  border: 1px solid $gray;
}

.example.grid > * {
  border: 1px solid $gray;
  width: $tile-size;
  height: $tile-size;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* SHIP */
.ship {
  display: inline-grid;
  grid-template-columns: repeat(6, $tile-size);
  border: 1px solid $gray;
  margin-top: ($font-size / 2);
}

.ship > * {
  border: 1px solid $gray;
  width: $tile-size;
  height: $tile-size;
  display: grid;
  justify-items: center;
  align-items: center;
}

.playable {
  background: rgba(245,194,203,.3);
}

.rescued {
  background: green;
}

/* CONTROLS */
.controls {
  display: grid;
  grid-template-columns: auto ($tile-size + 1.6rem) $tile-size;
  width: 100%;
  margin-top: 1.6rem;
  padding: 0 .8rem;
  justify-items: center;
  align-items: center;
}

.dialog {
  color: rgba(255,255,255,.5);
  font-family: monospace;
  font-weight: normal;
  border: 2px solid $gray;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: .4rem;
}

.preview {
  width: $tile-size;
  height: $tile-size;
}

/* METEOR */
.meteor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.meteor > div {
  width: 0;
  height: 0;
  border: ($tile-size / 6) solid $white;
}

.meteor > div:nth-child(1) {
  border-top: ($tile-size / 3) solid transparent;
  border-bottom: none;
  border-left: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(2) {
  border-top: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(3) {
  border-top: ($tile-size / 6) solid transparent;
  border-right: ($tile-size / 3) solid transparent;
  border-left: none;
}

.meteor > div:nth-child(6) {
  border-right: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(9) {
  border-top: none;
  border-bottom: ($tile-size / 3) solid transparent;
  border-right: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(8) {
  border-bottom: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(7) {
  border-left: ($tile-size / 3) solid transparent;
  border-right: none;
  border-bottom: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(4) {
  border-left: ($tile-size / 6) solid transparent;
}

/* POD */
.pod {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.pod > div {
  display: grid;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.pod.north > div:nth-child(1):after,
.pod.north > div:nth-child(2):after,
.pod.north > div:nth-child(3):after {
  content: "";
  display: inline-block;
  width: ($tile-size / 4);
  height: ($tile-size / 8);
  align-self: end;
  justify-self: center;
  background: $white;
  border-top-left-radius: ($tile-size / 4);
  border-top-right-radius: ($tile-size / 4);
}

.pod.south > div:nth-child(7):after,
.pod.south > div:nth-child(8):after,
.pod.south > div:nth-child(9):after {
  content: "";
  display: inline-block;
  width: ($tile-size / 4);
  height: ($tile-size / 8);
  align-self: start;
  justify-self: center;
  background: $white;
  border-bottom-left-radius: ($tile-size / 4);
  border-bottom-right-radius: ($tile-size / 4);
}

.pod.north > div:nth-child(4),
.pod.north > div:nth-child(5),
.pod.north > div:nth-child(6),
.pod.south > div:nth-child(4),
.pod.south > div:nth-child(5),
.pod.south > div:nth-child(6) {
  background: $white;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.pod.north > div:nth-child(7):after,
.pod.north > div:nth-child(8):after,
.pod.north > div:nth-child(9):after {
  content: "";
  display: inline-block;
  width: ($tile-size / 8);
  height: 0;
  align-self: start;
  justify-self: center;
  border-bottom: ($tile-size / 8) solid $white;
  border-left: ($tile-size / 16) solid transparent;
  border-right: ($tile-size / 16) solid transparent;
}

.pod.south > div:nth-child(1):after,
.pod.south > div:nth-child(2):after,
.pod.south > div:nth-child(3):after {
  content: "";
  display: inline-block;
  width: ($tile-size / 8);
  height: 0;
  align-self: end;
  justify-self: center;
  border-top: ($tile-size / 8) solid $white;
  border-left: ($tile-size / 16) solid transparent;
  border-right: ($tile-size / 16) solid transparent;
}

.pod.east > div:nth-child(3):after,
.pod.east > div:nth-child(6):after,
.pod.east > div:nth-child(9):after {
  content: "";
  display: inline-block;
  width: ($tile-size / 8);
  height: ($tile-size / 4);
  align-self: center;
  justify-self: start;
  background: $white;
  border-top-right-radius: ($tile-size / 4);
  border-bottom-right-radius: ($tile-size / 4);
}

.pod.west > div:nth-child(1):after,
.pod.west > div:nth-child(4):after,
.pod.west > div:nth-child(7):after {
  content: "";
  display: inline-block;
  width: ($tile-size / 8);
  height: ($tile-size / 4);
  align-self: center;
  justify-self: end;
  background: $white;
  border-top-left-radius: ($tile-size / 4);
  border-bottom-left-radius: ($tile-size / 4);
}

.pod.east > div:nth-child(2),
.pod.east > div:nth-child(5),
.pod.east > div:nth-child(8),
.pod.west > div:nth-child(2),
.pod.west > div:nth-child(5),
.pod.west > div:nth-child(8) {
  background: $white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.pod.east > div:nth-child(1):after,
.pod.east > div:nth-child(4):after,
.pod.east > div:nth-child(7):after {
  content: "";
  display: inline-block;
  width: 0;
  height: ($tile-size / 8);
  align-self: center;
  justify-self: end;
  border-left: ($tile-size / 8) solid $white;
  border-top: ($tile-size / 16) solid transparent;
  border-bottom: ($tile-size / 16) solid transparent;
}

.pod.west > div:nth-child(3):after,
.pod.west > div:nth-child(6):after,
.pod.west > div:nth-child(9):after {
  content: "";
  display: inline-block;
  width: 0;
  height: ($tile-size / 8);
  align-self: center;
  justify-self: start;
  border-right: ($tile-size / 8) solid $white;
  border-top: ($tile-size / 16) solid transparent;
  border-bottom: ($tile-size / 16) solid transparent;
}

/* CREW */
.crew {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.crew > div {
  display: grid;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.crew.north > div:nth-child(1):after,
.crew.north > div:nth-child(2):after,
.crew.north > div:nth-child(3):after,
.crew.south > div:nth-child(1):after,
.crew.south > div:nth-child(2):after,
.crew.south > div:nth-child(3):after {
  align-self: end;
  justify-self: center;
  content: "";
  display: inline-block;
  width: ($tile-size / 4);
  height: ($tile-size / 8);
  background: $white;
  border-top-left-radius: ($tile-size / 4);
  border-top-right-radius: ($tile-size / 4);
}

.crew.north > div:nth-child(4),
.crew.north > div:nth-child(5),
.crew.north > div:nth-child(6),
.crew.south > div:nth-child(4),
.crew.south > div:nth-child(5),
.crew.south > div:nth-child(6) {
  background: $white;
}

.crew.north > div:nth-child(7):after,
.crew.north > div:nth-child(8):after,
.crew.north > div:nth-child(9):after,
.crew.south > div:nth-child(7):after,
.crew.south > div:nth-child(8):after,
.crew.south > div:nth-child(9):after {
  align-self: start;
  justify-self: center;
  content: "";
  display: inline-block;
  width: ($tile-size / 4);
  height: ($tile-size / 8);
  background: $white;
  border-bottom-left-radius: ($tile-size / 4);
  border-bottom-right-radius: ($tile-size / 4);
}

.crew.east > div:nth-child(1):after,
.crew.east > div:nth-child(4):after,
.crew.east > div:nth-child(7):after,
.crew.west > div:nth-child(1):after,
.crew.west > div:nth-child(4):after,
.crew.west > div:nth-child(7):after {
  align-self: center;
  justify-self: end;
  content: "";
  display: inline-block;
  width: ($tile-size / 8);
  height: ($tile-size / 4);
  background: $white;
  border-top-left-radius: ($tile-size / 4);
  border-bottom-left-radius: ($tile-size / 4);
}

.crew.east > div:nth-child(2),
.crew.east > div:nth-child(5),
.crew.east > div:nth-child(8),
.crew.west > div:nth-child(2),
.crew.west > div:nth-child(5),
.crew.west > div:nth-child(8) {
  background: $white;
}

.crew.east > div:nth-child(3):after,
.crew.east > div:nth-child(6):after,
.crew.east > div:nth-child(9):after,
.crew.west > div:nth-child(3):after,
.crew.west > div:nth-child(6):after,
.crew.west > div:nth-child(9):after {
  align-self: center;
  justify-self: start;
  content: "";
  display: inline-block;
  width: ($tile-size / 8);
  height: ($tile-size / 4);
  background: $white;
  border-top-right-radius: ($tile-size / 4);
  border-bottom-right-radius: ($tile-size / 4);
}

/* HALL */
.hall {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.hall > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.hall > div:nth-child(4),
.hall > div:nth-child(5),
.hall > div:nth-child(6) {
  background: $white;
}

.hall.east > div:nth-child(2),
.hall.east > div:nth-child(8),
.hall.west > div:nth-child(2),
.hall.west > div:nth-child(8) {
  background: $white;
}

.hall.east > div:nth-child(4),
.hall.east > div:nth-child(6),
.hall.west > div:nth-child(4),
.hall.west > div:nth-child(6) {
  background: none;
}

/* CORNER */
.corner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.corner > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.corner > div:nth-child(4),
.corner > div:nth-child(5),
.corner > div:nth-child(8) {
  background: $white;
}

.corner.east > div:nth-child(2) {
  background: $white;
}

.corner.east > div:nth-child(8) {
  background: none;
}

.corner.south > div:nth-child(2),
.corner.south > div:nth-child(6) {
  background: $white;
}

.corner.south > div:nth-child(4),
.corner.south > div:nth-child(8) {
  background: none;
}

.corner.west > div:nth-child(6) {
  background: $white;
}

.corner.west > div:nth-child(4) {
  background: none;
}

/* TEE */
.tee {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.tee > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.tee > div:nth-child(4),
.tee > div:nth-child(5),
.tee > div:nth-child(6),
.tee > div:nth-child(8) {
  background: $white;
}

.tee.east > div:nth-child(2) {
  background: $white;
}

.tee.east > div:nth-child(6) {
  background: none;
}

.tee.south > div:nth-child(2) {
  background: $white;
}

.tee.south > div:nth-child(8) {
  background: none;
}

.tee.west > div:nth-child(2) {
  background: $white;
}

.tee.west > div:nth-child(4) {
  background: none;
}

/* JUNCTION */
.junction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.junction > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.junction > div:nth-child(2),
.junction > div:nth-child(4),
.junction > div:nth-child(5),
.junction > div:nth-child(6),
.junction > div:nth-child(8) {
  background: $white;
}

/* WRENCH */
.wrench {
  border: 2px solid $gray;
  display: inline-block;
  width: $tile-size;
  height: $tile-size;
  background: url(spanner.svg);
}

/* COLOPHON */
.colophon {
  font-size: .9rem;
  line-height: .9rem;
  text-align: right;
  color: rgba(255,255,255,.3);
  width: 100%;
  margin-top: 3.2rem;
  padding: 0 .8rem;
}

.colophon > a:hover {
  cursor: auto;
  text-decoration: underline;
}

abbr[title="and"] {
  font-family: 'Adobe Caslon Pro', 'Baskerville', 'Goudy Old Style', 'Palatino',
  'Palatino Linotype', 'Book Antiqua', 'Georgia', 'Times New Roman', 'Times', serif;
  font-style: italic;
  text-decoration: none;
  font-size: 110%;
  cursor: auto;
  /* Prevents `abbr` affecting the `line-height`. */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* PRINT */
.print {
  display: none;
}

/* UX */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}
