/* RESET */
$font-size: 1.6rem;
$white: rgba(255,255,255,.9);

* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}

body {
  font-size: $font-size;
  background: black;
  color: white;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* WORLD */
.world {
  display: grid;
  justify-content: center;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  margin: 0 auto;
  overflow: hidden;
}

/* SENSORS */
.sensors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* SHIP */
$tile-size: 4.4rem;
$gray: rgba(255,255,255,.2);

.ship {
  display: grid;
  grid-template-columns: repeat(6, $tile-size);
  border-top: 1px solid $gray;
  border-left: 1px solid $gray;
}

.ship > * {
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;
  width: $tile-size;
  height: $tile-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship > .playable {
  background: rgba(245,194,203,.3);
}

/* CREW */
#crew-north,
#crew-south {
  height: ($tile-size / 2);
  display: grid;
  grid-template-columns: repeat(6, $tile-size);
}

#crew-east,
#crew-west {
  display: grid;
  grid-template-rows: repeat(6, $tile-size);
}

#crew-north > div,
#crew-south > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#crew-east > div,
#crew-west > div {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
}

.crew > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
  background: $white;
}

.crew > div:after {
  position: absolute;
  content: "";
  display: inline-block;
  background: $white;
}

.crew.north > div {
  align-self: end;
}

.crew.north > div:after {
  width: ($tile-size / 4);
  height: ($tile-size / 8);
  top: -($tile-size / 8);
  left: ((($tile-size / 3) - ($tile-size / 4)) / 2);
  border-top-left-radius: ($tile-size / 4);
  border-top-right-radius: ($tile-size / 4);
}

.crew.east > div:after {
  width: ($tile-size / 8);
  height: ($tile-size / 4);
  top: ((($tile-size / 3) - ($tile-size / 4)) / 2);
  left: ($tile-size / 3);
  border-top-right-radius: ($tile-size / 4);
  border-bottom-right-radius: ($tile-size / 4);
}

.crew.south > div:after {
  width: ($tile-size / 4);
  height: ($tile-size / 8);
  top: ($tile-size / 3);
  left: ((($tile-size / 3) - ($tile-size / 4)) / 2);
  border-bottom-left-radius: ($tile-size / 4);
  border-bottom-right-radius: ($tile-size / 4);
}

.crew.west > div {
  justify-self: end;
}

.crew.west > div:after {
  width: ($tile-size / 8);
  height: ($tile-size / 4);
  top: ((($tile-size / 3) - ($tile-size / 4)) / 2);
  left: -($tile-size / 8);
  border-top-left-radius: ($tile-size / 4);
  border-bottom-left-radius: ($tile-size / 4);
}

/* CONTROLS */
.controls {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 1rem;
}

.controls > * {
  border: 1px solid $gray;
  width: $tile-size;
  height: $tile-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* METEOR */

.meteor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.meteor > div {
  width: 0;
  height: 0;
  border: ($tile-size / 6) solid $white;
}

.meteor > div:nth-child(1) {
  border-top: ($tile-size / 3) solid transparent;
  border-bottom: none;
  border-left: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(2) {
  border-top: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(3) {
  border-top: ($tile-size / 6) solid transparent;
  border-right: ($tile-size / 3) solid transparent;
  border-left: none;
}

.meteor > div:nth-child(6) {
  border-right: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(9) {
  border-top: none;
  border-bottom: ($tile-size / 3) solid transparent;
  border-right: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(8) {
  border-bottom: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(7) {
  border-left: ($tile-size / 3) solid transparent;
  border-right: none;
  border-bottom: ($tile-size / 6) solid transparent;
}

.meteor > div:nth-child(4) {
  border-left: ($tile-size / 6) solid transparent;
}

/* POD */
.pod {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.pod > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.pod > div:nth-child(1):after,
.pod > div:nth-child(2):after,
.pod > div:nth-child(3):after {
  position: absolute;
  bottom: 0;
  left: ((($tile-size / 3) - ($tile-size / 4)) / 2);
  content: "";
  display: inline-block;
  width: ($tile-size / 4);
  height: ($tile-size / 8);
  background: $white;
  border-top-left-radius: ($tile-size / 4);
  border-top-right-radius: ($tile-size / 4);
}

.pod > div:nth-child(4),
.pod > div:nth-child(5),
.pod > div:nth-child(6) {
  background: $white;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.pod > div:nth-child(7):after,
.pod > div:nth-child(8):after,
.pod > div:nth-child(9):after{
  position: absolute;
  top: 0;
  left: ($tile-size / 32);
  content: "";
  display: inline-block;
  width: ($tile-size / 8);
  height: 0;
  border-bottom: ($tile-size / 8) solid $white;
  border-left: ($tile-size / 16) solid transparent;
  border-right: ($tile-size / 16) solid transparent;
}

/* HALL */
.hall {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.hall > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.hall > div:nth-child(4),
.hall > div:nth-child(5),
.hall > div:nth-child(6) {
  background: $white;
}

/* CORNER */
.corner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.corner > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.corner > div:nth-child(4),
.corner > div:nth-child(5),
.corner > div:nth-child(8) {
  background: $white;
}

/* TEE */
.tee {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.tee > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.tee > div:nth-child(4),
.tee > div:nth-child(5),
.tee > div:nth-child(6),
.tee > div:nth-child(8) {
  background: $white;
}

/* JUNCTION */
.junction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.junction > div {
  position: relative;
  width: ($tile-size / 3);
  height: ($tile-size / 3);
}

.junction > div:nth-child(2),
.junction > div:nth-child(4),
.junction > div:nth-child(5),
.junction > div:nth-child(6),
.junction > div:nth-child(8) {
  background: $white;
}
